.paralax-bg-1{
    min-height:400px;
    background-image: url("http://3.bp.blogspot.com/-4p5rVDsmFPA/UTa0WzX_UmI/AAAAAAAAEIM/qGhGVCU2KLM/s1600/h_SheepLake.JPG");
    background-attachment: fixed;
    
}

.white{
  color:white;
}

.card-white{
  background:white;
  padding:20px;
  border-radius:4px;
  margin: 40px;
  box-shadow: 1px 1px 3px black;
  
  
}
.card-clear{
  background:white;
  padding:20px;
  border-radius:4px;
  margin: 40px;
  
  
}
.footer-glyph{
    margin-top:30px;
}
.footer{
    background-color:gray;
    color:white;
}
.header{
    margin-top:50px;
}
.glyph-mid{
    font-size:40px;
}
.no-padding{
    padding:0px;
}